<template>
  <v-container>
    <v-card
      shaped
      class="mb-2 pa-3"
      elevation="6"
      v-for="purchase in sortedPurchases"
      :key="purchase.submittedAt"
    >
      <v-card-subtitle>
        <v-row class="d-flex justify-space-between">
          <p>
            Order #<strong>{{ purchase.submittedAt }}</strong>
          </p>
          <p>
            Paid In <strong>{{ purchase.currency.toUpperCase() }}</strong>
          </p>
        </v-row>
      </v-card-subtitle>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Coin</th>
              <th class="text-left">Price</th>
              <th class="text-left">Quantity</th>
              <th class="text-left">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(coin, i) in purchase.purchases" :key="i">
              <td>
                <strong>{{ coin.name }}</strong>
              </td>
              <td>{{ coin.price }}</td>
              <td>{{ coin.quantity }}</td>
              <td>{{ coin.subtotal }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                Total: {{ purchase.totalPrice }}
                {{ purchase.currency.toUpperCase() }}
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
  </v-container>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { sortBy } from "lodash";

export default {
  components: {},
  data() {
    return {};
  },
  methods: {
    ...mapMutations({}),
  },
  computed: {
    ...mapState([]),
    sortedPurchases() {
      return sortBy(this.purchases.purchases, ["submittedAt"]).reverse();
    },
  },
  async asyncData({ $axios, error, $auth }) {
    try {
      const { data } = await $axios.get(
        `https://vjnxyekryf.execute-api.ap-southeast-1.amazonaws.com/dev/purchases/${$auth.user.email}`
      );
      return { purchases: data };
    } catch (e) {
      console.log(e);
      error({ message: "Coin not found", statusCode: 404 });
    }
  },
};
</script>
