<template>
  <v-navigation-drawer :value="cartDrawer" right app>
    <v-list>
      <v-card class="mx-1 mb-2" outlined flat v-for="coin in cart.cart" :key="coin.id">
        <v-card-title>
          <v-row align-center>
            <v-img
              :alt="coin.name"
              :src="coin.image.small"
              max-width="25"
              max-height="25"
              class="mr-2"
            ></v-img>
            <v-list-item-title class="cart-item-title">{{coin.name}}</v-list-item-title>
            <v-spacer />
            <v-icon @click="removeFromCart(coin.id)">mdi-trash-can</v-icon>
          </v-row>
        </v-card-title>
        <v-divider />
        <v-data-table
          flat
          hide-default-footer
          :headers="headers"
          :items="[coin]"
          class="elevation-1"
        >
          <template v-slot:item.quantity="{ item }">
            <v-text-field
              type="number"
              :value="item.quantity"
              @input="updateQty({quantity:$event, itemObj: item})"
            ></v-text-field>
          </template>
        </v-data-table>
      </v-card>
    </v-list>
    <template v-slot:append>
      <v-btn block color="orange" tile large class="checkout-div pa-2" @click="checkout">
        <div>
          <span>Total: {{total}} {{userSettings.defaultCurrency}}</span>
        </div>
      </v-btn>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";

export default {
  props: {
    cartDrawer: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      headers: [
        { text: "Price", value: "price", sortable: false },
        { text: "Quantity", value: "quantity", sortable: false },
        { text: "Subtotal", value: "subtotal", sortable: false }
      ]
    };
  },
  watch: {
    "$store.state.userSettings.defaultCurrency": function(newCurrency) {
      this.recalculateSubtotal(newCurrency);
    }
  },
  computed: {
    ...mapState(["cart", "userSettings"]),
    ...mapGetters({
      total: "cart/total"
    })
  },
  methods: {
    ...mapMutations({
      updateQty: "cart/updateQty",
      recalculateSubtotal: "cart/recalculateSubtotal",
      removeFromCart: "cart/removeFromCart",
    }),
    ...mapActions({
      checkout: "cart/checkout"
    })
  }
};
</script>

<style scoped lang="scss">
.cart-item-title {
  flex: 1 0;
  color: white;
}
.checkout-div {
  background-color: white;
  color: black;
}
</style>