<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list>
        <v-list-item v-for="(item, i) in sideBarLinks" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-row class="justify-end">
        <v-col v-if="$auth.loggedIn" cols="1">
          <v-btn class="mr-2" icon @click.stop="cartDrawer = !cartDrawer">
            <v-badge v-if="cartItems.length" :content="cartItems.length" color="pink" overlap>
              <v-icon>mdi-cart</v-icon>
            </v-badge>
            <v-icon v-else>mdi-cart</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="4">
          <v-select
            :items="userSettings.currencyList"
            :value="userSettings.defaultCurrency"
            @input="setCurrency"
            solo
            dense
            hide-details
          ></v-select>
        </v-col>
        <v-col cols="4">
          <v-btn block outlined v-if="$auth.loggedIn" @click="logout">Logout</v-btn>
          <v-btn block outlined v-else @click="login">Login</v-btn>
        </v-col>
      </v-row>
    </v-app-bar>
    <cart-sidebar v-if="$auth.loggedIn" :cartDrawer="cartDrawer" />
    <v-main>
      <v-alert
        v-if="cart.postCheckoutState.type"
        :type="cart.postCheckoutState.type"
        dismissible
        @click="clearPostCheckoutState"
      >{{cart.postCheckoutState.message}}</v-alert>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import CartSidebar from "../components/cart";

export default {
  components: { CartSidebar },
  data() {
    return {
      drawer: false,
      cartDrawer: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Home",
          to: "/",
          show: true
        },
        {
          icon: "mdi-cash-multiple",
          title: "Order History",
          to: "/cart/history",
          show: !!this.$auth.loggedIn
        }
      ],
      title: "Crypto Dashboard"
    };
  },
  watch: {
    "$store.state.cart.postCheckoutState": function(postCheckoutState) {
      if (postCheckoutState) {
        this.cartDrawer = false;
        this.drawer = true;
      }
    }
  },
  methods: {
    ...mapMutations({
      clearPostCheckoutState: "cart/clearPostCheckoutState"
    }),
    async logout() {
      await this.$auth.logout("google");
    },
    login() {
      try {
        this.$auth.loginWith("google");
      } catch (err) {
        console.log(err);
      }
    },
    setCurrency(value) {
      this.$store.commit("userSettings/setDefaultCurrency", value);
    }
  },
  computed: {
    ...mapState(["userSettings", "cart"]),
    cartItems() {
      return this.cart.cart;
    },
    sideBarLinks() {
      return this.items.filter(item => {
        return item.show;
      });
    }
  },
  async fetch() {
    this.$store.dispatch("userSettings/getCurrencies");
    if (this.$auth.loggedIn) {
        this.$store.dispatch("coins/fetchFavourites");
    }
  }
};
</script>
