<template>
  <v-container>
    <v-row>
      <v-switch
        v-if="$auth.loggedIn"
        class="ml-5"
        @change="toggleShowOnlyFavourites"
        :value="coins.showOnlyFavourites"
        inset
        label="Show only favourites"
      ></v-switch>
    </v-row>
    <v-skeleton-loader  type="table" v-if="!computedPaginatedCoins.length"></v-skeleton-loader>
    <v-simple-table v-else>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">Coin</th>
            <th class="text-left">Current Price</th>
            <th class="text-left">Last 7 Days</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="coin in computedPaginatedCoins" :key="coin.id">
            <td>
              <v-icon
                v-if="$auth.loggedIn"
                :color="computeStarColor(coin.fav)"
                @click="addToFavourite(coin.id)"
              >mdi-heart</v-icon>
              {{coin.market_cap_rank}}
            </td>
            <td>
              <NuxtLink class="nuxt-link-active" :to="`coins/${coin.id}`">{{ coin.name }}</NuxtLink>
            </td>
            <td>{{ coin.current_price }}</td>
            <td>
              <v-sparkline
                :value="coin.sparkline_in_7d.price"
                :color="computeSparklineColor(coin.sparkline_in_7d.price)"
                line-width="2"
                padding="16"
              ></v-sparkline>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-pagination v-if="computedPaginatedCoins.length" v-model="page" :length="paginatedPages" circle></v-pagination>
  </v-container>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";

export default {
  data() {
    return {
      page: 1
    };
  },
  watch: {
    "$store.state.userSettings.defaultCurrency": function() {
      this.loadCoins();
    },
    "$store.state.coins.showOnlyFavourites": function() {
      this.page = 1;
    }
  },
  mounted() {
    this.loadCoins();
  },
  methods: {
    ...mapActions({
      loadCoins: "coins/loadCoins",
      addToFavourite: "coins/addToFavourite"
    }),
    ...mapMutations({
      toggleShowOnlyFavourites: "coins/toggleShowOnlyFavourites"
    }),
    computeSparklineColor(x) {
      const startPrice = x[0];
      const lastPrice = x[x.length - 1];

      return lastPrice > startPrice ? "cyan" : "pink";
    },
    computeStarColor(fav) {
      return fav ? "cyan" : "grey";
    }
  },
  computed: {
    ...mapState(["coins", "userSettings"]),
    computedCoins() {
      const { coins, showOnlyFavourites, favourites } = this.coins;
      const favouritesOnly = coins.filter(coin => {
        return favourites.includes(coin.id);
      });
      return showOnlyFavourites ? favouritesOnly : coins;
    },
    paginatedPages() {
      return Math.ceil(this.computedCoins.length / 20);
    },
    computedPaginatedCoins() {
      const coins = this.computedCoins;
      const page = this.page;
      return coins.slice((page - 1) * 20, page * 20);
    }
  }
};
</script>

<style lang="scss">
.nuxt-link-active {
  color: inherit !important;
  text-decoration: none;
  font-weight: 700;
}
</style>