<template>
  <v-container>
    <v-skeleton-loader v-if="!data" type="list-item-avatar, paragraph, image"></v-skeleton-loader>
    <v-row justify-space-between v-else>
      <v-row align-center>
        <v-img :alt="data.name" :src="data.image.small" max-width="50" max-height="50" class="mr-2"></v-img>
        <h1>{{data.name}}</h1>
        <h6>{{data.symbol.toUpperCase()}}</h6>

        <v-btn large icon v-if="$auth.loggedIn" @click="addToFavourite(data.id)" class="ml-3">
          <v-icon large :color="computeStarColor(data.id)">mdi-heart</v-icon>
        </v-btn>
      </v-row>
      <div>
        <v-row align-center>
          <h3 class="price">{{price}} {{userSettings.defaultCurrency.toUpperCase()}}</h3>
          <v-btn
            large
            tile
            outlined
            class="ml-3"
            color="orange"
            @click="addToCart(data)"
            v-if="$auth.loggedIn"
          >Add to Cart</v-btn>
        </v-row>
      </div>
    </v-row>
    <v-row>
      <p class="mt-3" v-html="data.description.en" />
      {{x}}
    </v-row>
    <trading-vue :data="marketData" :width="x"></trading-vue>
    <v-row ref="prev"></v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import TradingVue from "trading-vue-js";

export default {
  components: { TradingVue },
  data() {
    return {
      x: 0,
      price: "",
      marketData: {
        ohlcv: []
      },
      coin: this.$route.params.coin
    };
  },
  async mounted() {
    this.getLatestPrice();
    this.getMarketChart();
    this.getWindowWidth();
  },
  watch: {
    "$store.state.userSettings.defaultCurrency": function() {
      this.getLatestPrice();
      this.getMarketChart();
    }
  },
  methods: {
    ...mapMutations({}),
    ...mapActions({
      addToFavourite: "coins/addToFavourite",
      addToCart: "cart/addToCart"
    }),
    computeStarColor(id) {
      return this.coins.favourites.includes(id) ? "cyan" : "grey";
    },
    getWindowWidth() {
      this.x = this.$refs.prev.clientWidth;
    },
    async getLatestPrice() {
      const { data } = await this.$axios.get(
        `https://api.coingecko.com/api/v3/simple/price?ids=${this.coin}&vs_currencies=${this.userSettings.defaultCurrency}`
      );
      this.price = data[this.coin][this.userSettings.defaultCurrency];
    },
    async getMarketChart() {
      const { data } = await this.$axios.get(
        `https://api.coingecko.com/api/v3/coins/${this.coin}/ohlc?vs_currency=${this.userSettings.defaultCurrency}&days=30`
      );
      this.marketData.ohlcv = data;
    }
  },
  computed: {
    ...mapState(["userSettings", "coins"])
  },
  async asyncData({ $axios, params, error }) {
    try {
      const { data } = await $axios.get(
        `https://api.coingecko.com/api/v3/coins/${params.coin}?localization=false`
      );
      return { data };
    } catch (e) {
      error({ message: "Coin not found", statusCode: 404 });
    }
  }
};
</script>

<style scoped>
.user {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}
.price {
  line-height: 2.5;
}
</style>
